/*pag principal*/
.logo img {
  width: 200px;
}

.zapas {
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
  width: 100%;
}

.carousel-img {
  padding: 1%;
  width: 51vw;
  left: 25%;
}

/*footer*/
.icon {
  height: 30px;
  width: 50px;
  color: #fff;
}

/*catalogo*/
.img-catalogo {
  border-radius: 20px;
  height: 250px;
  width: 250px;
}

/*nosotros*/
.nosotros img {
  padding: 15px;
}

body {
  font-family: "Righteous" cursive;
  font-weight: 800;
}

footer {
  display: grid;
  background-color: black;
  flex-direction: column;
  padding-top: 10px;
}
footer .redes {
  text-align: center;
}
footer p {
  color: #fff;
}

/*pag principal*/
.logo {
  text-align: center;
}

/*barra de navegacion*/
.nav {
  display: flex;
  justify-content: space-between;
}

.nav a {
  color: #777377;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-decoration-line: overline;
  text-decoration-color: #701065;
  font-size: 1.1rem;
  padding: 1rem;
}

.nav a:hover {
  color: #701065;
  text-decoration-line: underline;
  text-decoration-color: #701065;
}

/*catalogo*/
.catalogo {
  display: grid;
  justify-content: center;
  gap: 50px;
  padding: 0 10px 25px 10px;
  grid-template-columns: auto auto auto;
}

.catalogo div {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.contenido-zapas {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenido-zapas div {
  color: #12ECC4;
  font-size: 1.5rem;
  right: 20%;
}

/*nosotros*/
.nosotros {
  text-align: center;
}

/*contacto*/
.contacto {
  display: flex;
}

.contacto .form-container {
  max-width: 500px;
  margin: auto;
  padding: 10px;
}

.contacto form {
  display: flex;
  flex-direction: column;
}

.contacto form input {
  padding: 10px 0;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #701065;
}

.contacto form .boton {
  color: #fff;
  background-color: #701065;
  border-radius: 10px;
}

.contenido-zapas h2 {
  padding: 80px;
  color: #12ECC4;
  font-size: 1.8rem;
}

h2 span {
  font-size: 1.4rem;
}

.catalogo p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding-left: 10px;
}

.catalogo a {
  color: #fff;
  background-color: #701065;
  text-decoration: none;
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 10px;
  align-self: flex-end;
  margin-right: 10px;
}

.catalogo a:hover {
  color: #fff;
  text-decoration: none;
  transform: translateY(-5%);
}

.titulo-nosotros h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-align: center;
}

.titulo-nosotros h2 {
  color: #701065;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.titulo-nosotros p {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.titulo-section {
  font-weight: 800;
  font-size: 30px;
  padding: 15px 0;
  text-align: center;
}

.form-container h1 {
  color: #701065;
}

.form-container p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

@media (max-width: 480px) {
  .nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .catalogo {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .nosotros img {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .catalogo {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 1024px) {
  .nav {
    justify-content: space-between;
  }
}

/*# sourceMappingURL=styles.css.map */
