
body {  
    
    font-family: 'Righteous' cursive;
    font-weight: 800;
}
  
  /* nav-principal */
  .nav {
      display: flex;
      justify-content: space-between;

  }
  
  .nav a { 
    color: #777377;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    text-decoration-line: overline;
    text-decoration-color: #701065;
    font-size: 1.1rem;
    padding: 1rem;
  }
  
  .nav a:hover {
    color: #701065;
    text-decoration-line: underline;
    text-decoration-color: #701065;
  }
  
  
  /* img principal */
  .zapas {
    background-image: url(../img/fondo.jpg);
      background-repeat: no-repeat;
      background-size: cover;
       
      height: 450px;
      position: relative;
      width: 100%;
  }
 
  
  .contenido-zapas {
    position:absolute;
    background-color: rgb(0 0 0 /50%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
  }
  .contenido-zapas h2 {

    padding: 80px;
    color: #12ECC4 ;
    font-size: 1.8rem; 
   }
    
  .contenido-zapas div {
    color: #12ECC4;
    font-size: 1.5rem;
    right: 20%;
}
  
  
  h2 span { 
    font-size: 1.4rem;
}
 
  
  /* pagina principal */
  
  
 
      /* diseño de imagenes-letras catalogo*/ 
       .logo {
          text-align: center;
       }
       .imagen {
          padding: 15px 10px; 
          border-radius: 40px;
          box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
          
      }
       /* diseño de tarjetas */
  
           .card {
            display: flex;
            padding-top: 1rem;
            font-size: small;
              padding: 1rem;
              width: 300px;
              border-radius: 40px;
              box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
               }
            .card-segunda {
              left: 50px;
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-size: small;
              padding: 1.5rem;
              width: 300px;
              box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
            }   
            .col-una {
              padding: 5px;
               }
            .col-dos {
              align-items: center;
              padding: 30px;
              margin: 20px;
            }
      
  @media (max-width: 768px) {
          .nav {
              flex-direction: column;
              align-items: center;
              justify-content: center;
        }
        .img-carusel {
          width: 50%;
          
          margin: auto;
          .card, .card-segunda {
            display:grid ;
          }
          
        }
      
    
    
    }






    .img-carusel {
      padding: 3rem;
      left: 25%;
      width: 55%;
    }

    footer {
      display: grid;
      background-color: black;
      flex-direction: column;
      padding-top: 10px;

      .redes {
        text-align: center;
       }
       p {
        
        color: aliceblue;
       }
       .icon {
        height: 30px;
        width: 50px;
        color: aliceblue;
       }
         }

       /*catalogo*/

         .catalogo {
          display: grid;
          justify-content: center;
          gap: 50px;
          padding: 0 10px 25px 10px;
          grid-template-columns: auto auto auto;
         }
         .catalogo div {
          display: flex;
          flex-direction: column;
          padding: 16px;
         }
         .img-catalogo {
          border-radius: 20px;
          height: 250px;
          width: 250px;
         }
         .catalogo p {
          font-family: "Montserrat", sans-serif; 
          font-weight: 600;
          padding-left: 10px;
         }
         .catalogo a { 
         color: #fff;
         background-color: #701065;
          text-decoration: none;
         font-weight: 600;
         padding: 3px 5px;
         border-radius: 10px;
         align-self: flex-end;
         margin-right: 10px;
     }
     .catalogo a:hover {
      color: #12ECC4;
      text-decoration: none;
     }

     .nosotros {
      text-align: center;
       }
       .titulo-nosotros { 
        
         
       h1 {
        font-family: "Montserrat", sans-serif; 
        font-weight: 800;
        text-align: center;
         
       }
        h3 {
          color: #701065;
          font-family: "Montserrat", sans-serif; 
        font-weight: 600;
       }
       p {
        display: block;
    }
    img {
      width: 530px;
      height: 300px;
    }
     }
    

     .contacto {
      display: flex;
  }
     
     .titulo-section {
      font-weight: 800;
    font-size: 30px;
    padding: 15px 0;
    text-align: center;
     }
     .form-container h1 {
      color: #701065;
     }
     .form-container p {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
     }
     .contacto .form-container { 
      max-width: 500px;
      margin: auto;
      padding: 10px;
       }
       .contacto form {
        display: flex;
        flex-direction: column;
    }
    .contacto form input {
      padding: 10px 0;
      margin-bottom: 20px;
      border: none;
      border-bottom: 1px solid #701065;
  } 
  .contacto form .boton {
    color: #fff;
    background-color: #701065;
    border-radius: 10px;
  }